<!DOCTYPE html>
<html lang="zh-CN">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME | sobble</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/static/css/index.css" rel="stylesheet" />
    </head>
    <body>
        {{ template "navigation.html" . }}
        <div class="container">
            <div class="row g-5">

                    {{ range $index, $article := .articles }}
                    <div class="card" style="width: 18rem;">
                        {{ if $article.Cover }}
                        <img class="card-img-top" src="{{ $article.Cover }}" alt="cover">
                        {{ end }}
                        <div class="card-body">
                            <h5 class="card-title">{{ $article.Title }}</h5>
                            <p class="card-text">文章的部分内容</p>
                            <a href="/article/{{ $article.ID }}" class="btn btn-primary">详细</a>
                        </div>
                    </div>
                    {{ end }}

            </div>

        </div>
        <!-- Page Header-->
        <!-- <header class="masthead" style="background-image: url('/static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Blog</h1>

                            <span class="subheading">It's so hard when I try to be me!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header> -->
        <!-- Footer-->
    </body>
</html>
