{{ define "navigation.html" }}

<!-- Navigation -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <!-- <img src="/static/assets/img/1200px-Sobble.png" alt="Logo" style="width:40px;"> -->
            SOBBLE
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggle-icon">菜单</span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link {{ .indexactive }}">主页</a>
                </li>
                <li class="nav-item">
                    <a href="/article/list" class="nav-link {{ .listactive }}">博客</a>
                </li>
                {{ if .isLogin }}
                <!-- <li class="nav-item"><button onclick="logout()">Log out</button></li> -->
                <li class="nav-item"><a href="#" class="nav-link" role="button" id="logout">退出登录</a></li>
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">下拉菜单</a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/info" class="dropdown-item">个人信息</a></li>
                        <li><a href="#" class="dropdown-item">退出登录</a></li>
                    </ul>
                </li>
                {{ else }}
                <li class="nav-item"><a class="nav-link {{ .loginactive }}" href="/user/signin">登录</a></li>
                <li class="nav-item"><a class="nav-link {{ .registeractive }}" href="/user/signup">注册</a></li>
                {{ end }}

            </ul>
            <form action="#" class="d-flex ms-auto">
                <input type="text" class="form-control me-2" placeholder="Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>
        </div>
    </div>
</nav>
<script src="/static/js/navigation.js"></script>

{{ end }}