<html>
 <head> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.26.0/DPlayer.min.js"></script>

 </head>
 <body>
    <div class="dplayer"></div>
    <script>
        window.dp = new DPlayer({
            autoplay: true,
            theme: '#FADFA3',
            loop: true,
            lang: 'zh',
            screenshot: true,
            hotkey: true,
            preload: 'auto',
            video: {
                url: 'https://m3m.1vkx.cn/common/maomi/maomi/dm_6c676hbd/hls/1/index.m3u8',
                type: 'auto',
            },
        });
    </script>
    <script>
        window.dp = new DPlayer({
            autoplay: true,
            theme: '#FADFA3',
            loop: true,
            lang: 'zh',
            screenshot: true,
            hotkey: true,
            preload: 'auto',
            video: {
                url: ''
            },
        });
    </script>

 </body>
</html>